{% extends "_base.html" %}
{% block title %}
    Zurücksetzen des Passworts – {{ app_name }}
{% endblock title %}
{% block main %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full p-6 rounded border border-black sm:max-w-md  sm:p-8 space-y-2">
            <h2 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">Passwort zurücksetzen</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="flex items-start">
                <div class="text-base">Sie erhalten in Kürze eine E-Mail zum Zurücksetzen Ihres Passworts.</div>
            </div>
            <form class="space-y-4"
                  method="post"
                  action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div>
                    <label for="id_email" class="block mb-2 text-sm font-semibold">Ihre E-Mail-Adresse</label>
                    <input type="email"
                           name="email"
                           id="id_email"
                           class="sm:text-sm rounded block w-full p-2.5 border border-black placeholder-gray-600 "
                           placeholder="beispiel@mail.de"
                           required="">
                </div>
                <a href="{% url 'signin' %}">
                    <button type="button"
                            class="focus:outline-none focus:ring-4 font-semibold rounded text-sm px-3 py-2.5 me-2 mb-2  hover:border-gray-600 focus:ring-gray-700 border border-black">
                        Abbrechen
                    </button>
                </a>
                <button type="submit"
                        class="w-fit font-semibold focus:ring-4 focus:outline-nonefont-semibold rounded text-sm px-3 py-2.5 text-center border border-black">
                    Link senden
                </button>
            </form>
        </div>
    </div>
{% endblock main %}
