{% extends "components/main.html" %}
{% block title %}
    Passwort ändern – {{ app_name }}
{% endblock title %}
{% block content %}
    <div class="md:basis-9/12 basis-full rounded h-fit px-4">
        {% include "partials/back_to_start.html" %}
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center rtl:space-x-reverse">
                <li aria-current="page">
                    <a href="{% url 'settings' %}">
                        <span class="font-semibold">Einstellungen</span>
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        {% include "icons/menu-right.html" %}
                        <span class="font-semibold">Passwort ändern</span>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="mt-5">
            <form method="post" action="{% url 'change_password' %}">
                <div class="px-6 py-5 rounded">
                    {% csrf_token %}
                    <div class="space-y-2 mb-4">
                        <label for="id_oldpassword" class="block mb-2 text-sm font-semibold">Aktuelles Passwort</label>
                        <input type="password"
                               name="oldpassword"
                               placeholder="••••••••"
                               autocomplete="current-password"
                               required=""
                               id="id_oldpassword"
                               class="text-sm rounded  block w-full p-2.5 border border-black placeholder-gray-600 ">
                    </div>
                    <div class="space-y-2 mb-4">
                        <label for="id_password1" class="block mb-2 text-sm font-semibold">Neues Passwort</label>
                        <input class="text-sm rounded block w-full p-2.5 border border-black placeholder-gray-600 "
                               type="password"
                               name="password1"
                               placeholder="Mindestens 8 Zeichen"
                               autocomplete="new-password"
                               required=""
                               id="id_password1">
                    </div>
                    <div class="space-y-2 ">
                        <label class="block mb-2 text-sm font-semibold" for="id_password2">Neues Passwort (Wiederholung)</label>
                        <input class="text-sm rounded  block w-full p-2.5 border border-black placeholder-gray-600 "
                               type="password"
                               type="password"
                               name="password2"
                               placeholder="Neues Passwort (Wiederholung)"
                               required=""
                               id="id_password2">
                    </div>
                </div>
                <div class="space-y-2 mt-2">
                    <a href="{% url 'settings' %}">
                        <button type="button"
                                class="focus:outline-none focus:ring-4 font-semibold rounded text-sm px-3 py-2.5 me-2 mb-2 focus:ring-gray-600 border border-black">
                            Abbrechen
                        </button>
                    </a>
                    <button type="submit"
                            class="focus:ring-4 font-semibold rounded text-sm px-3 py-2.5 me-2 mb-2 focus:outline-none border border-black">
                        Bestätigen
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
