*/__pycache__/*
*.pyc
__pycache__
detailed_handler.log.*
normal_handler.log.*
node_modules
static/CACHE
.coverage
staticfiles
.env
.env.prod
.env.stage
.dockerignore
logs/detailed_handler.log
.vscode
docker-compose.prod.yaml
Dockerfile
entrypoint.prod.sh
package-lock.json
poetry.lock
settings.json
logs
output.css