*/__pycache__/*
*.pyc
.venv
__pycache__
node_modules
static/CACHE
.coverage
staticfiles
.env.prod
.dockerignore
.vscode
docker-compose.prod.yaml
Dockerfile
entrypoint.prod.sh
poetry.lock
settings.json
logs
output.css
create-db.sql
db
