{% extends "_base.html" %}
{% load static %}
{% block title %}
    Zurücksetzen des Passworts – {{ app_name }}
{% endblock title %}
{% block main %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full p-6 rounded border border-black md:mt-0 sm:max-w-md sm:p-8 space-y-3">
            <h2 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
                E-Mail zum Zurücksetzen des Passworts gesendet.
            </h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% else %}
                <div>Bitte kontaktieren Sie uns, falls Sie diese E-Mail nicht erhalten.</div>
                <div>
                    <a href="{% url 'home' %}">
                        <button class="w-fit focus:ring-4 focus:outline-none font-semibold rounded text-sm px-3 py-2.5 text-center border border-black">
                            Zur Startseite
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
