{% extends "_base.html" %}
{% block title %}
    Zurücksetzen des Passworts – {{ app_name }}
{% endblock title %}
{% block main %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 w-1/4">
        <div class="w-full p-6 rounded border border-black sm:max-w-md sm:p-8 space-y-2">
            <h2 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
                {% if token_fail %}
                    Link ist ungültig
                {% else %}
                    Passwort ändern
                {% endif %}
            </h2>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="font-normal">
                    Womöglich wurde der Link bereits verwendet. Bitte fordern Sie <a href="{{ passwd_reset_url }}" class="font-semibold underline">die Rücksetzung Ihres Passworts</a> erneut an.
                </p>
            {% else %}
                {% if form %}
                    <form method="post" action="{{ action_url }}" class="space-y-4">
                        {% csrf_token %}
                        <label for="id_password1" class="block mb-2 text-sm font-semibold">Neues Passwort:</label>
                        <input type="password"
                               class=" border border-black   sm:text-sm rounded  block w-full p-2.5  placeholder-gray-600"
                               name="password1"
                               placeholder="Neues Passwort"
                               autocomplete="new-password"
                               required=""
                               id="id_password1">
                        <label for="id_password2" class="block mb-2 text-sm font-semibold">Neues Passwort (Wiederholung):</label>
                        <input type="password"
                               name="password2"
                               class=" border border-black  sm:text-sm rounded   block w-full p-2.5  placeholder-gray-600"
                               placeholder="Neues Passwort (Wiederholung)"
                               required=""
                               id="id_password2">
                        <p class="my-2 text-sm text-red2-500 font-semibold">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                        <br>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}{{ error|escape }}{% endfor %}
                            {% endif %}
                        </p>
                        <a href="{% url 'signin' %}">
                            <button type="button"
                                    class="focus:outline-none focus:ring-4 font-semibold rounded text-sm px-3 py-2.5 me-2 mb-2 hover:border-gray-600 focus:ring-gray-700 border border-black">
                                Abbrechen
                            </button>
                        </a>
                        <button type="submit"
                                class="w-fit font-semibold focus:ring-4 focus:outline-nonefont-semibold rounded text-sm px-3 py-2.5 text-center border border-black">
                            Bestätigen
                        </button>
                    </form>
                {% else %}
                    <p class="font-normal">Ihr Passwort wurde geändert.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock main %}
